{% extends "UserStoriesBundle::index.html.twig" %}

{% block title %}
    Edytowanie Usera
{% endblock %}

{% block body %} 
<h3>Edycja</h3>  
    {{ form_start(form) }}
    {{ form_row(form.Name) }}
    {{ form_row(form.Surname) }}
    {{ form_row(form.Description) }}
    <button type="submit">Zapisz</button>
{{ form_end(form) }}
{% endblock %}